html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 0px;
}

body {
  color: #fefefe;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}